/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY STYLE */
body {
    font-family: "Montserrat", Arial, sans-serif;
    background: linear-gradient(135deg, #f8f9fb, #eef1f5);
    display: flex;
    justify-content: center;
    padding: 80px 20px;
}

/* MAIN CONTAINER */
.policy-container {
    background: #ffffff;
    max-width: 950px;
    width: 100%;
    padding: 60px;
    border-radius: 18px;
    box-shadow: 0 25px 70px rgba(0, 0, 0, 0.08);
}

/* MAIN HEADING */
.policy-container h1 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 48px;
    color:oklab(72.299% 0.12054 0.1464);
    font-weight: 900;
    letter-spacing: 1px;
}

/* ORDERED LIST */
.policy-list {
    list-style: none;
    counter-reset: section;
}

/* EACH ITEM */
.policy-list li {
    margin-bottom: 40px;
    padding: 30px;
    border-left: 6px solid #ff7a00;
    background: #fafafa;
    border-radius: 12px;
    position: relative;
}

/* NUMBER STYLE */
.policy-list li::before {
    counter-increment: section;
    content: counter(section) ".";
    position: absolute;
    left: -40px;
    top: 30px;
    font-weight: 800;
    color: #ff7a00;
    font-size: 22px;
}

/* SUB HEADINGS */
.policy-list h3 {
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 900;
    color: blue;
}

/* PARAGRAPH */
.policy-list p {
    color:black;
    line-height: 1.9;
    font-size: 26px;
    font-weight: 900;
}

/* RESPONSIVE */
@media (max-width: 768px) {

    body {
        padding: 40px 15px;
    }

    .policy-container {
        padding: 35px 25px;
    }

    .policy-container h1 {
        font-size: 30px;
    }

    .policy-list h3 {
        font-size: 20px;
    }

    .policy-list p {
        font-size: 17px;
    }
}
